:root{
	color: black;
}
*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	outline: none; border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}
section{
	padding: 0.5rem 9%;
}
.heading{
	text-align: center;
	font-size: 4rem;
	color: #17202A;
	padding: 1rem;
	margin: 2rem 0;
	background: #F5EEF8;
}
.heading span{
	color: rgba(129,17,85,1.00);
}
.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: #333;
	color: #fff;
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover{
	background: rgba(129,17,85,1.00);
}
header{
	position: fixed;
	align-content: fixed;
	top: 0; left: 0; right: 0;
	background: #F5EEF8  ;
	padding: 0.9rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .navbar a{
	font-size: 2rem;
	padding: 0 1.5rem;
	color: #17202A;
}
header .navbar a:hover{
	color: rgba(129,17,85,1.00);
}
header .icons a{
	font-size: 2.5rem;
	color: #17202A;
	margin-left: 0.9rem;
}
header .icons a:hover{
	color: rgba(129,17,85,1.00);
}
header #toggler{
	display: none;
}
.home{	
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("dog-and-cat.jpg");
	padding: 0.5rem 9%;
	display: flex;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}
.logo{
	width: 140px;
	height: 150px;
	cursor: pointer;
	margin-top: 18rem;
	margin-left: 18px;
}
.home .content  h1{
	font-size: 65px;
	color : mintcream;
}
.home .content  span{
	font-size: 15px;
	color : white;
	padding: 2rem 0;
	line-height: 1.5;
}
.about .row{
	display: flex;
	align-items: center;
	column-gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0;
	padding-bottom: 3rem;
}
.about .row .video-container{
	flex: 1 1 40rem;
	position: relative;
}
.about .row .video-container video{
	width: 100%;
	border: 1.5rem solid #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
	height: 100%;
	object-fit: cover;
}
.about .row .content{
	flex: 1 1 40rem;
}
.about .row .content h3{
	font-size: 3rem;
	color: #333;
}
.about .row .content p{
	font-size: 1.5rem;
	color: #999;
	padding: .5rem 0;
	padding-top: 1rem;
	line-height: 1.5;
}
.icons-container{
	background: #eee;
	display: flex;
	flex-wrap: wrap;
	gap:1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.icons-container .icons{
	background: #fff;
	border:.1rem solid rgba(0,0,0,.1);
	padding: 2rem;
	display: flex;
	align-items: center;
	flex: 1 1 10rem;
}
.icons-container .icons img{
	height: 5rem;
	margin-right: 1rem;
}
.products .box-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem; 
}
.products .box-container .box{
	flex: 1 1 30rem;
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
	border-radius: .5rem;
	border: .1rem solid rgba(0,0,0,.1);
	position: relative;
}
.products .box-container .box .discount{
	position: absolute;
	top: 1rem; left: 1rem;
	padding: .7rem 1rem;
	font-size: 2rem;
	color: rgba(129,17,85,1.00);
	background: rgba(255, 51, 153, .05);
	z-index: 1;
	border-radius: .5rem;
}
.products .box-container .box .image{
	position: relative;
	text-align: center;
	padding-top: 2rem;
	overflow: hidden;
}
.products .box-container .box .image img{
	height: 25rem;
}
.products .box-container .box:hover .image img{
	transform: scale(1.1);
}
.products .box-container .box .image .icons{
	position: absolute;
	bottom: 0; left: 0;
	display: flex;
	width: 100%;
}
.products .box-container .box .image .icons a{
	height: 3rem;
	width: 100%;
	background: rgba(129,17,85,1.00);
	color: #fff;
	font-size: 2rem;
}
.products .box-container .box .content{
	padding: 2rem;
	text-align: center;
}
.products .box-container .box .content h3{
	font-size: 1.5rem;
	color: #333;
}
.products .box-container .box .content .price{
	font-size: 1.5rem;
	color: #333;
	font-weight: bolder;
	padding-top: 0.5rem;
}
.products .box-container .box .content .price span{
	font-size: 1rem;
	color: #999;
	font-weight: lighter;
	text-decoration: line-through
}
.contact .row{
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 1.5rem;
	align-items: center;
}
.contact .row form{
	flex: 1 1 40rem;
	padding: 2rem 2.5rem;
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
	border: .1rem solid rgba(0,0,0,.1);
	background: #fff;
	background-radius: .5rem;
}
.contact .row .image{
	flex: 1 1 40rem;
}
.contact .row .image img{
	width: 100%;
	height: 58.4rem;
}
.contact .row form .box{
	padding: 1rem;
	font-size: 1.7rem;
	color: black;
	text-transform: none;
	border: .1rem solid rgba(0,0,0,.1);
	border-radius: .5rem;
	margin: .7rem 0;
	width: 100%;
}
.contact .row form .box:focus{
	border-color: rgba(129,17,85,1.00); 
}
.contact .row form taextarea{
	height: 15rem;
	resize: none;
}
.footer .box-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}
.footer .box-container .box{
	flex: 1 1 25rem;
}
.footer .box-container .box h3{
	color: #333;
	font-size: 1.5rem;
	padding: 1px 0;
}
.footer .box-container .box a{
	display: block;
	color: #666;
	font-size: 1.5rem;
	padding: 1px 0;
}
.footer .box-container .box a:hover{
	color: rgba(129,17,85,1.00);
	text-decoration: underline;
}
.footer .box-container .box img{
	margin-top: 1rem;
	width: 75%;
}
.footer .credit{
	text-align: center;
	padding: 1.5rem;
	margin-top: 1.5rem;
	padding-top: 2.5rem;
	font-size: 2rem;
	color: #333;
	border-top: .1rem solid rgba(0,0,0,.1);
}
.footer .credit span{
	color: rgba(129,17,85,1.00);
}